<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Esse é um template simples voltado para marketing profissional e também para aprendizagem do Node.JS.</p>
    <p><button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Cadastre-se</button></p>
  </div>
</div>

<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Cadastre-se</h4>
      </div>
      <div class="modal-body">
        <div id="signup-error" class="alert alert-danger" style="display: none;"></div>
        <div id="signup-success" class="alert alert-success" style="display: none;"></div>
        <form id="form-signup">
            <input type="hidden" id="_csrf" name="_csrf" value="<%= _csrf %>" />
            <label>Email</label>
            <input type="email" placeholder="Digite o email" id="email" name="email" class="form-control" required>

            <label>Username</label>
            <input type="text" placeholder="Digite o username" id="username" name="username" class="form-control" required>

            <label>Senha</label>
            <input type="password" placeholder="Digite a senha" id="password" name="password" class="form-control" required>

            <label>Confirme a Senha</label>
            <input type="password" placeholder="Confirme a senha" id="confirmation" name="confirmation" class="form-control" required>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-success">Cadastrar</button>
      </div>
        </form>
    </div>

  </div>
</div>